* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* --font-size: 1.6rem; */
    --primary-text-colour: black;
    --alternative-text-colour: white;
    --bg-colour: whitesmoke;
    --main-width: 100%;
}
html{
    font-size: 62.5%;
}
body {
    background-color: var(--bg-colour);
    width: 100vw;
    height: 1520px;
}

.header{
    width: 100%;
    height: 8rem;
    background-color: white;
    position: fixed;
    border: 1px solid white;
    z-index: 1;
}
nav .nav_logo p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: black;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 20px;
}
span{
    color: red;
    position: absolute;
    left: 62px;
}
nav ul{
    float: left;
    position: absolute;
    left: 250px;
    top: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    letter-spacing: 1px;
}
nav ul li a{
    text-decoration: none;
    font-size: small;
    padding: 10px 10px;
}
nav .nav_search form input {
    position: absolute;
    right: 150px;
    top: 20px;
    /* font-size: 20px; */
    /* width: 35px; */
    height: 30px;
    width: 80px;
    font-size: xx-small;
    /* border-radius: 1px; */
}

nav{
    line-height: 30px;
}
header .selection select {
    width: 35px;
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: xx-small;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
    color: red;
}
.container{
    width: 90%;
    height: 300px;
    border: 1px solid rgb(230, 228, 228);
   border-radius: 10px;
   position: absolute;
   top: 83px;
   left: 45px;
   background-color: rgb(208, 207, 207);
   /* border-style: hidden; */
}
.hero{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: x-large;
    font-weight: bolder;
}
.hero_text1, .hero_text2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: normal;
    word-spacing: 2px;
    position: absolute;
    left: 30px;
    top: 85px;
}
.hero_text2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    top: 180px;
    left: 50px;
}
.one, .two, .three{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6px;
    height: 25px;
    width: 25px;
    background-color: black;
    color: white;
    position: absolute;
    top: 180px;
    left: 250px;
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.two{
    left: 290px;
    top: 180px;
}
.three {
    left: 330px;
    top: 180px;
    font-size: 10px;
    /* padding: 1px 0 0 0; */
}
.enroll, .watch , .download{
    width: 80px;
    height: 30px;
    background-color: red;
    border-radius: 5%;
    padding: 10px 0 0 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    top: 250px;
    left: 50px;
    cursor: pointer;

}
.watch, .download{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(208, 207, 207) ;
    border: 1px solid black;
    color: black;
    width: 140px;
    left: 150px;
}
.download{
    width: 160px;
    background-color: whitesmoke;
    border-style: hidden;
    left: 320px;
}
aside .aside_container{
    width: 90%;
    height: 300px;
    border: 1px solid black;
   border-radius: 10px;
   position: absolute;
   top: 403px;
   left: 45px;
   background-color:rgb(37, 36, 36);
   /* border-style: hidden; */
}
.aside_container p.text1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: white;
    position: absolute;
    left: 30px;
    top: 50px;
    letter-spacing: 1px;
}
.box_one, .box_two, .box_three, .box_four{
    height: 70px;
    width: 220px;
    border: 1px solid white;
    padding: 20px 10px 10px 40px;
    color: white;
    position: absolute;
    top: 120px;
    left: 30px;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-small;
    font-weight: lighter;
}
.box_two{
    left: 300px;
}
.box_three{
    top: 210px;
    padding-top: 30px;
}
.box_four{
    top: 210px;
    left: 300px;
}
.student_experience{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 770px;
    left: 80px;
    letter-spacing: 1px;
}
.student1, .student2{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    position: absolute;
    top: 850px;
    left: 50px;
    border-radius: 15px;
}
#student1, #student2{
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.student1 span, .student2 span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    position: absolute;
    left: 170px;
    top: 50px;
}
.student1 em, .student2 em {
    font-style: normal;
    font-weight: bold;
    word-spacing: 2px;
    position: absolute;
    bottom: 35px;
    left: 170px;
}
.student2{
    left: 420px;
}
.student2 span{
    top: 40px;
}
.footer{
    height: 400px;
    width: 95%;
    background-color: black;
    position: absolute;
    top: 1100px;
    left: 30px;
    border-radius: 15px;
}
.footer .foot_logo p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    top: 15px;
    left: 10px;
}
footer div .address, footer div .tel, footer div .email, footer div .cor, footer div .about, footer div .contact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: smaller;
    position: absolute;
    top: 100px;
    left: 30px;
    word-spacing: 2px;
}
footer div .tel{
    top: 120px;
    letter-spacing: 0.5px;
}
footer div .email{
    top: 140px;
}
footer div .cor{
    left: 450px;
}
footer div .about{
    top: 120px;
    left: 450px;
}
footer div .contact{
    top: 140px;
    left: 450px;
}
footer hr{
    color: white;
    background-color: white;
    height: 1px;
    width: 90%;
    position: relative;
    top: 300px;
    left: 30px;
}
footer p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    position: absolute;
    top: 310px;
    left: 35px;
}

/* fixed box section */
.fixed_box_container{
    width: 200px;
    height: 300px;
    background-color: whitesmoke;
    position: fixed;
    float: right;
    top: 100px;
    right: 150px;
    z-index: 1;
    border-radius: 15px;
    border: 1px solid black;
}
#video{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.intro{
    font-weight: bold;
    /* font-style: oblique; */
    color: black;
    position: absolute;
    left: 20px;
    top: 120px;
    
}
.duration, .days, .time{
    font-weight: lighter;
    position: absolute;
    top: 150px;
    left: 40px;
}
.days{
    top: 175px;
}
.time{
    top: 200px;
}
.submit{
    height: 30px;
    width: 90%;
    background-color: red;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
}
.animation{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50% 0;
    /* border: 1px solid black; */
    /* z-index: 1; */
    position: relative;
    /* top: 3000px; */
    margin: auto;
    margin-top: 120px;
    /* border-top-left-radius: 0;
    border-bottom-right-radius: 0; */
    animation: rotate 3s linear  infinite alternate-reverse ;
}
@keyframes rotate {
    from {
        rotate:0deg;
    }
    to{
        rotate: 360deg;
    }
}


/* course page  */
.row1,.row2{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    /* margin-right: 10px; */
}
.courses_intro{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: small;
    color: rgb(138, 138, 138);
    position: absolute;
    top: 120px;
    left: 50px;
}
.row1_item, .row2_item{
    height: 300px;
    width: 200px;
    /* background-color: black; */
    position: relative;
    left: 50px;
    top: 150px;
    /* border-top-left-radius: 0; */
    border-radius: 50px 0 0 50px;
    border: 0.1px solid black;
    opacity: 1;
    background-color: white;
}
.frontend{
    /* margin-right: 20px; */
    border-radius: 0 50px 50px 0;
}
.row2_item{
    top: 200px;
    border-radius: 0 50px 50px 0;
}
.row2 .frontend{
    border-radius: 50px 0 0 50px;
}
/* .fullstack{
    margin-right: 100px;
} */
#backend, #frontend, #fullstack,#bootcamp, #interface_design,#ux_design{
    height: 150px;
    width: 200px;
    border-radius: 50px 0 0 0;
    position: absolute;
    /* top: 50px; */
}
#frontend,#bootcamp,#ux_design{
    border-radius: 0 50px 0 0;
}
.info1, .info2, .info3, .info4, .info5, .info6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: small;
    position: relative;
    top: 180px;
    left: 40px;
    letter-spacing: 1px;
    cursor: pointer;
}
.info1 span, .info2 span, .info3 span, .info4 span, .info5 span, .info6 span{
    position: absolute;
    top: 50px;
    left: 20px;
    cursor: pointer;
}
.flip{
    position: relative;
    max-width: 6rem;
    width: 100%;
    
}
.flip_item{
    width: 30px;
    height: 30px;
    /* background-color: white; */
    border-radius: 50px;
    position: absolute;
    top: 300px;
    /* left: 500px; */
    display: flex;
    margin-left: 500px; 
}
.flip_item_1{
    /* margin-right: 0px; */
    left: 0px;
    background-color: red;
    animation: lefts 3s linear  infinite  ;
    /* position: absolute; */

}
.flip_item_2{
    right: 0px;
    background-color: white;
    animation: move_rights 3s linear  infinite  ;
    /* position: absolute; */
}
@keyframes move_rights {
    0% {
        left: 0rem;
        z-index: 20;
      }

      25% {
        left: 1.5rem;
        z-index: 20;
      }

      50% {
        left: 3rem;
        z-index: 20;
      }
      51% {
        z-index: 10;
      }

      75% {
        left: 1.5rem;
        z-index: 10;
      }

      100% {
        left: 0rem;
        z-index: 10;
      }
}

@keyframes lefts {
    0% {
        right: 0rem;
        z-index: 10;
      }

      25% {
        right: 1.5rem;
        z-index: 10;
      }

      50% {
        right: 3rem;
        z-index: 10;
      }
      51% {
        z-index: 20;
      }

      75% {
        right: 1.5rem;
        z-index: 20;
      }

      100% {
        right: 0rem;
        z-index: 20;
      }
    
}
/* MEDIA QUERY FOR HOMEPAGE */
/* mobile responsiveness */
@media screen and (max-width:1440px) {
    nav .nav_logo p{
        font-size: 40px;
        left: 200px;
    }
    span{
        left: 70px;
    }
    nav ul{
        left: 300px;
    }
    nav ul li a{
        font-size: 30px ;
        text-transform: uppercase;
        padding: 20px 20px;
        /* word-spacing: 100px; */
    }
    nav .nav_search form input{
        right: 250px;
    }
    header .selection select{
        top: 20px;
        right: 100px;
        font-size: large;
        width: 50px;

    }
    .hero{
        font-size: xx-large;
        left: 90px;
    }
    .hero_text1{
        top: 95px;
        left: 50px;
        line-height: 17px;
    }
    .fixed_box_container{
        width: 300px;
        height: 400px;
        right: 300px;
    }
    .intro{
        font-size: large;
    }
    .duration, .day,.time{
        font-size: large;
    }
    .duration{
        top: 165px;
    }
    .days{
        top: 200px;
        font-size: large;
    }
    .time{
        top: 240px;
    }
    .animation{
        margin-top: 190px;
    }
    #video{
        width: 300px;
    }
    .student_experience{
        top: 730px;
        font-size: 40px;
    }
    .student1{
        left: 100px;
    }
    .student2{
        left: 750px;
    }
    /* a:link */
}
/* @media screen and (max-width:1024px) {
    
} 
this is ok */

/* tablet mode  */
/* @media screen and (max-width:768px) {
    
}
this is also ok */

/* mobile phone */
@media screen and (max-width:425px) {
    nav .nav_logo p{
        font-size: 50px;
    }
    span{
        left: 83px;
    }
   nav ul li {
    border: 2px solid black;
    padding: 0 0 0 0;
   }
    a:link {
        font-size: 15px;
        text-transform: uppercase;
        /* border: 2px solid black; */
    }
    nav .nav_search form input{
        visibility: hidden;
    }
    
    /* nav ul li{
        font-size: x-large;
    } */

    .hero_text1 {
        font-size: 10px;
        line-height: 20px;
    }
    .hero_text2{
        font-size: large;
    }
    .fixed_box_container {
        top: 220px;
        right: 80px;
        position: fixed;
        /* z-index: 1; */
        /* visibility: hidden; */
    }
    .student_experience{
        top: 750px;
        font-size: 30px;
    }
    .container{
        width: 155%;

    }
    .download{
        visibility: hidden;
    }
    aside .aside_container{
        /* width: 100%; */
        width: 155%;
        background-color: black;
        /* position: ; */
    }
    .student1,.student2{
        width: 300px;
    }
    .student1 span, .student2 span{
        font-size: small;
        top: 25px;
        left: 155px;
    }
    .student2, #student2{
        left: 370px;
    }
    .student1 em,.student2 em{
        visibility: hidden;
    }
    .footer{
        width: 155%;
        top:1050px
    }
    .foot_logo p span{
        left: 60px;
    }
}

/* mobile responsiveness for 375px */
@media screen and (max-width:375px) {
    nav ul {
        left: 220px;
    }

    .student_experience{
        font-size: 40px;
        top: 730px;
    }
    .student1{
        left: 10px;
    }
    .student2{
        left: 320px;
    }
    header .selection select{
        visibility: hidden;
    }
}

/* mobile responsiveness for 320px */
@media screen and (max-width:320px) {
    .container{
        width: 165%;
    }
    /* .hero_text2{
        left: 20px;
    }
    .one{
        left: 200px;
    }
    .two{
        left: 250px;
    } */
    .fixed_box_container{
        right: 50px;
    }
    aside .aside_container{
        width: 165%;
    }
    .student1{
        width: 400px;
        left: 100px;
    }
    .student1 em{
        visibility: visible;
    }
    .student2{
        visibility: hidden;
    }
    .footer{
        width: 165%;
    }
}